# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd
import zipfile
import numpy as np

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
way = "/home/ilya/Jupyter notebook/ИАД/hw/" #путь к папке где лежит zip-файл и сам файлик с кодом
archive = zipfile.ZipFile('Data.zip', 'r')  #разархивируем
archive.extractall('.')
Name = []
for file_info in archive.infolist():
    Name.append(file_info.filename)
Name = list(map(lambda x: way + x, Name))[1:]#теперь здесь лежат имена всех файликов
a = False
for i in range(10):
    df1 = pd.read_csv(Name[i], sep=",")
    df2 = pd.read_csv(Name[i + 10], sep=",")
    df_t = pd.merge(df1, df2, on="index")
    df = pd.concat([df_t, df], axis=0) if a else df_t
    a = True
df = df.sort_values(by="index")

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
df.pop('index')
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
df.describe().loc[['min', 'max', 'mean', 'std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
df.isna().sum() #Получили нули, значит пропусков нет!

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
#df['math score'].mean(), df['reading score'].mean(), df['writing score'].mean()
df.describe().loc['mean']

math score       66.089
reading score    69.169
writing score    68.054
Name: mean, dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [8]:
mean1 = df[df['test preparation course'] == 'completed'].describe().loc[['mean']]
mean2 = df[df['test preparation course'] == 'none'].describe().loc[['mean']]
mean_df = pd.concat([mean1, mean2])
mean_df['test preparation course'] = ['completed', 'none']
mean_df

      math score  reading score  writing score test preparation course
mean   69.695531      73.893855      74.418994               completed
mean   64.077882      66.534268      64.504673                    none

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [9]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [10]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
95,female,group E,master's degree,standard,completed,group10,88,99,95
96,male,group C,high school,free/reduced,none,group10,62,55,55
97,female,group C,high school,free/reduced,completed,group10,59,71,65
98,female,group D,some college,standard,completed,group10,68,78,77
99,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [11]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [12]:
condition_1 = df['math score'] >= passmark
condition_2 = (df['test preparation'] == 'completed') & (df['math score'] >= passmark)
condition_3 = (df['gender'] == 'female') & (df['test preparation'] == 'none') & (df['math score'] < passmark)
df[condition_3].shape[0]
print('Доля студентов сдавших экзамен по математике: ',df[condition_2].shape[0]/(df[df['test preparation'] == 'completed'].shape[0]))
print('Доля студентов, проходивших курс подготовки к экзамену, сдавших экзамен по математике?', df[condition_2].shape[0]/df.shape[0])
print('Доля женщин, не проходивших курс подготовки к экзамену, не сдавших экзамен по математике?', df[condition_3].shape[0]/df.shape[0])

Доля студентов сдавших экзамен по математике:  0.865
Доля студентов, проходивших курс подготовки к экзамену, сдавших экзамен по математике? 0.33
Доля женщин, не проходивших курс подготовки к экзамену, не сдавших экзамен по математике? 0.07

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [13]:
%%time
print(df[['race/ethnicity', 'reading score']].groupby(['race/ethnicity']).mean())
print(df[['education', 'writing score']].groupby(['education']).min())

                reading score
race/ethnicity
group A             64.674157
group B             67.352632
group C             69.103448
group D             70.030534
group E             73.028571
                    writing score
education
associate's degree             35
bachelor's degree              38
high school                    15
master's degree                46
some college                   19
some high school               10
CPU times: user 15.5 ms, sys: 4.09 ms, total: 19.6 ms
Wall time: 17.3 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [14]:
%%time
dic1 = {'group A': 0, 'group B': 0, 'group C': 0, 'group D': 0, 'group E': 0}
dic2 = {'group A': 0, 'group B': 0, 'group C': 0, 'group D': 0, 'group E': 0}
for i in range(df.shape[0]):
    dic1[df.iloc[i]['race/ethnicity']] += 1
    dic2[df.iloc[i]['race/ethnicity']] += df.iloc[i]['reading score']
for j in ['group A', 'group B', 'group C', 'group D', 'group E']:
    dic2[j] = dic2[j] / dic1[j]
dic2
#pandas очевидно делает все быстрее

CPU times: user 267 ms, sys: 2.78 ms, total: 270 ms
Wall time: 268 ms

{'group A': 64.67415730337079,
 'group B': 67.35263157894737,
 'group C': 69.10344827586206,
 'group D': 70.03053435114504,
 'group E': 73.02857142857142}

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [15]:
grouped = pd.pivot_table(df, index=['gender', 'education'], 
                         values=['math score', 'reading score', 'writing score'], 
                         aggfunc=np.mean)
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [16]:
def func_1(score):
    if score < 50:
        return 'F'
    return 'P'

df['Math_PassStatus'] = df['math score'].apply(func_1)
df['Reading_PassStatus'] = df['reading score'].apply(func_1)
df['Writing_PassStatus'] = df['writing score'].apply(func_1)
d = {'discipline': ['math', 'reading', 'writing'],
    'successfully': [np.sum(df['Math_PassStatus'] == 'P'), np.sum(df['Reading_PassStatus'] == 'P'), np.sum(df['Writing_PassStatus'] == 'P')], 
     'fail': [np.sum(df['Math_PassStatus'] == 'F'), np.sum(df['Reading_PassStatus'] == 'F'), np.sum(df['Writing_PassStatus'] == 'F')],
     }

dat = pd.DataFrame(data=d)
dat

  discipline  successfully  fail
0       math           865   135
1    reading           910    90
2    writing           886   114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [17]:
def func_2(Math_PassStatus, Reading_PassStatus, Writing_PassStatus):
    if (Math_PassStatus == 'P') and (Reading_PassStatus == 'P') and (Writing_PassStatus == 'P'):
        return 'P'
    return 'F'

df['OverAll_PassStatus'] = df.apply(lambda x: func_2(x.Math_PassStatus, x.Reading_PassStatus, x.Writing_PassStatus), axis=1)
print(np.sum(df['OverAll_PassStatus'] == 'P'), 'Студентов сдали все экзамены')

812 Студентов сдали все экзамены

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [40]:
#def func_3():
    #возвращает среднее значение оценики
    
def GetGrade(average_mark):
    if average_mark >= 90:
        return 'A'
    if (80 <= average_mark) and (average_mark < 90):
        return 'B'
    if (70 <= average_mark) and (average_mark < 80):
        return 'C'
    if (60 <= average_mark) and (average_mark < 70):
        return 'D'
    if (50 <= average_mark) and (average_mark < 60):
        return 'E'
    return 'F'
    
df['Grade'] = ((df['math score'] + df['reading score'] + df['writing score'])/3).apply(GetGrade)
df.Grade.value_counts()

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64